body {
  font-family: Arial, Helvetica, sans-serif;

  width: 800px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

.header h1 {
  font-weight: bold;
}

.header h4 {
  font-weight: normal;
  font-style: italic;
}

.container section::before {
  content: attr(name);
  background-color: white;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: -10px;
  left: 20px;
}

.container section {
  position: relative;
  border: 2px dashed black;
  margin-bottom: 80px;
  padding: 20px;
}

.container section .item {
  margin-bottom: 20px;
}

.container section .item .data {
  float: left;
  width: 50%;
}

.container section h5 {
  padding: 0;
  margin: 0;
}

.container section .item .details {
  float: right;
  width: 50%;
}

.container section .item .skill {}