body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

header, .aboutMe, .experience, .skills, footer {
    background-color: grey;
    border: 1px solid black;
}

p {
    margin-left: 1%;
}

header {
    height: 150px;
    margin: 1% 0;
}

section {
    display: flex;
}

.container {
    display: flex;
    height: 450px;
    width: 70vw;
}

.container .aboutMe {
    margin-right: 1%;
    width: 70vw;
}

.container .experience {
    margin-right: 1%;
    width: 70vw;
}

.aboutMe, .experience {
    width: 40vw;
}

.skills {
    width: 30vw;
}

.skills p {
    margin-left: 3%;
}

footer {
    margin-top: 1%;
    height: 100px;
}

@media only screen and (max-width: 576px) {
    section {
        display: block;
    }
    
    .container {
        display: block;
        width: auto;
    }
    
    .container .aboutMe {
        margin-right: 1%;
        overflow: hidden;
    }
    
    
    .aboutMe, .experience {
        width: 40vw;
    }
    
    .skills {
        display: block;
    }
    
    .skills p {
        margin-left: 3%;
    }
    
    footer {
        margin-top: 1%;
        height: 100px;
    }
}

@media only screen and (min-width: 567px) and (max-width: 992px) {
   
    section {
    display: flex;
    }
    
    .container {
        flex-direction: column;
        margin-right: 1%;
    }
    
    .container .aboutMe {
        height: 230px;
        margin-bottom: 1%;
    }
    
    .container .experience {
        height: 230px;
    }
    
    .skills {
        margin: 0;
    }
    
    .skills p {
    margin-left: 3%;
    }
    
    footer {
    margin-top: 1%;
    height: 100px;
    }
    
}