body {
    font-family: arial;

    margin: 3.5% 13.8%;

    color: #26001d;
    background-color: #e6e8e6;
}


/* Header */

header {
    margin: 15px 0;

    text-align: center;
}

    h1 {
        font-family: 'Atomic Age';
        font-size: 45px;
        font-weight: 700;
        font-style: normal;
        font-variant: normal;
        line-height: 45px;
    }

    h4 {
        font-family: arial;
        font-size: 30px;
        font-weight: 600;
    
        margin-top: -15px;
    }


/* About Me Container */

.aboutMeContainer {
    font-size: 20px;

    margin: 90px 0 90px 0;
    padding: 20px;

    border: 5px dashed #df2935;
    border-radius: 10px;
}

.aboutMeContainer:hover {
    background-color: #FFF2CE;
}

    .aboutMe {
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
    
        position: relative;
        z-index: 1;
        top: -50px;
    
        width: 14%;
        margin-left: 85px;
        padding: 10px;
    
        text-align: center;
    
        color: #193575;
        border-radius: 10px;
        background-color: #fdca40;
    }

    .aboutMeDescription {
        font-size: 25px;

        margin: -40px 20px 10px 20px;
    }


/* Work Experience Container */

.workExpContainer {
    font-size: 20px;
    font-size: 25px;

    margin: 30px 0;
    padding: 170px 40px;

    border: 5px dashed #df2935;
    border-radius: 10px;
}

.workExpContainer:hover {
    background-color: #FFF2CE;
}

    .workExp {
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
    
        position: relative;
        z-index: 1;
        top: -200px;
    
        width: 25%;
        margin-left: 65px;
        padding: 10px;
    
        text-align: center;
    
        color: #193575;
        border-radius: 10px;
        background-color: #fdca40;
    }

    .experience {
        display: inline-block;
        overflow: hidden;
    
        margin-top: -160px;
        margin-bottom: 70px;
    }

        .position {
            float: left;

            width: 485px;
            padding: 0;
        }

        .description {
            float: left;

            width: 470px;
            margin-left: 45px;
        }


/* Skills container */

.skillsContainer {
    font-size: 20px;
    font-size: 25px;

    margin: 95px 0;

    border: 5px dashed #df2935;
    border-radius: 10px;
}

.skillsContainer:hover {
    background-color: #FFF2CE;
}

    .skills {
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
    
        position: relative;
        z-index: 1;
        top: -30px;
    
        width: 9%;
        margin-left: 105px;
        padding: 10px;
    
        text-align: center;
    
        color: #193575;
        border-radius: 10px;
        background-color: #fdca40;
    }

    .allTheSkills {
        display: inline-block;
    } 

        .skillsDescription {
            float: left;

            width: auto;
            margin: 0 20px 50px 40px;
        }

        /* Classic hover */
        /* .skillsDescription:hover {
            background-color: #FFD666;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        } */

        /* Hover just one element and "un-emphasize" the others */
        .skillsDescription {
            transition: opacity 0.2s;
        }
        
        .allTheSkills:hover .skillsDescription:not(:hover) {
            opacity: 0.5;
        }

        .skillsDescription:hover {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #ffd666;
        }
        
            .skillsLogo {
                float: left;

                width: 45px;
                height: 47px;
                margin: 0;
                padding: 0;
            }

                .fas {
                    font-size: 35px;

                    margin-top: 15%;
                
                    color: rgb(0, 0, 92);
                }

                .fa-child {
                    margin-left: 20%;
                }

            .skillsName {
                line-height: 45px;

                float: left;
            
                width: auto;
                height: 45px;
                padding: 0 5px;
            
                border: 1px solid black;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }



/* tooltip */

.tooltip {
    position: relative;

    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 18px;

    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;

    visibility: hidden;

    width: 200px;
    margin-left: -60px;
    padding: 5px;

    text-align: center;

    color: #fff;
    border-radius: 6px;
    background-color: rgba(61, 40, 56, .795);
  }
  
  .tooltip .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -5px;

    content: '';

    border-width: 5px;
    border-style: solid;
    border-color: rgba(61, 40, 56, .795) transparent transparent transparent;  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }