body {
    margin: 3.5% 13.8%;
    font-family: Helvetica;
}

    header {
        text-align: center;
        margin: 15px 0;
    }

        h1 {
            font-size: 45px;
            font-weight: 500;
        }

        h4 {
            font-size: 30px;
            font-weight: 500;
            margin-top: -15px;
        }

    .aboutMeContainer {
        border: 5px dashed black;
        padding: 20px;
        font-size: 20px;
        margin: 180px 0 90px 0;
    }

        .aboutMe {
            position: relative;
            top: -50px;
            margin-left: 85px;
            z-index: 1;
            padding: 10px;
            background-color: white;
            width: 14%;
            text-align: center;
            font-size: 30px;
        }

        .aboutMeDescription {
            margin: -40px 20px 10px 20px;
            font-size: 25px;
        }

    .workExpContainer {
        border: 5px dashed black;
        padding: 170px 40px;
        font-size: 20px;
        margin: 30px 0;
        font-size: 25px;
    }

        .workExp {
            position: relative;
            top: -190px;
            margin-left: 65px;
            z-index: 1;
            padding: 1px;
            background-color: white;
            text-align: center;
            width: 24%;
            font-size: 30px;
        }

        .experience {
            display: inline-block;
            overflow: hidden;
            margin-top: -160px;
            margin-bottom: 70px;
        }

            .position {
                width: 485px;
                float:left;
                padding: 0;
            }

            .description {
                float: left;
                width: 470px;
                margin-left: 45px;
            }

    .skillsContainer {
        border: 5px dashed black;
        font-size: 20px;
        margin: 95px 0;
        font-size: 25px;
    }

        .skills {
            position: relative;
            top: -30px;
            margin-left: 105px;
            z-index: 1;
            padding: 10px;
            background-color: white;
            width: 7%;
            text-align: center;
            font-size: 30px;
        }

        .allTheSkills {
            display: inline-block;
        }

        .topRow {
            display: inline-block;
        }   

            .skillsDescription {
                width: auto;
                margin: 0 20px 50px 40px;
                float: left;
            }

                .skillsLogo {
                    width: 45px;
                    height: 45px;
                    float:left;
                    margin: 0;
                    padding: 0;
                }

                    .fas {
                        margin-top: 15%;
                        color: rgb(0, 0, 92);
                        font-size: 35px;
                    }

                    .fa-child {
                        margin-left: 20%;
                    }

                .skillsName {
                    border: 1px solid black;
                    float: left;
                    width: auto;
                    height: 45px;
                    line-height: 45px;
                    padding: 0 5px;
                }
        
        .bottomRow {
            display: inline-block;
        }   

            .skillsDescriptionBottom {
                width: auto;
                margin: 0 0 50px 40px;
                float: left;
            }
