body {
    font-family: Helvetica;

    margin: 3.5% 13.8%;
}


/* Header */

header {
    margin: 15px 0;

    text-align: center;
}

    h1 {
        font-size: 45px;
        font-weight: 500;
    }

    h4 {
        font-size: 30px;
        font-weight: 500;
        margin-top: -15px;
    }


/* About Me Container */

.aboutMeContainer {
    font-size: 20px;
    
    padding: 20px;
    margin: 180px 0 90px 0;

    border: 5px dashed black;
}

    .aboutMe {
        font-size: 30px;

        position: relative;
        z-index: 1;
        top: -50px;
    
        width: 14%;
        margin-left: 85px;
        padding: 10px;
    
        text-align: center;
    
        background-color: white;
    }

    .aboutMeDescription {
        font-size: 25px;

        margin: -40px 20px 10px 20px;
    }


/* Work Experience Container */

.workExpContainer {
    font-size: 20px;
    font-size: 25px;

    margin: 30px 0;
    padding: 170px 40px;

    border: 5px dashed black;
}

    .workExp {
        font-size: 30px;

        position: relative;
        z-index: 1;
        top: -190px;
    
        width: 24%;
        margin-left: 65px;
        padding: 1px;
    
        text-align: center;
    
        background-color: white;
    }

    .experience {
        display: inline-block;
        overflow: hidden;
    
        margin-top: -160px;
        margin-bottom: 70px;
    }

        .position {
            float: left;

            width: 485px;
            padding: 0;
        }

        .description {
            float: left;

            width: 470px;
            margin-left: 45px;
        }


/* Skills container */

.skillsContainer {
    font-size: 20px;
    font-size: 25px;

    margin: 95px 0;

    border: 5px dashed black;
}

    .skills {
        font-size: 30px;

        position: relative;
        z-index: 1;
        top: -30px;
    
        width: 7%;
        margin-left: 105px;
        padding: 10px;
    
        text-align: center;
    
        background-color: white;
    }

    .allTheSkills {
        display: inline-block;
    }

    .topRow {
        display: inline-block;
    }   

        .skillsDescription {
            float: left;

            width: auto;
            margin: 0 20px 50px 40px;
        }

            .skillsLogo {
                float: left;

                width: 45px;
                height: 45px;
                margin: 0;
                padding: 0;
            }

                .fas {
                    font-size: 35px;

                    margin-top: 15%;
                
                    color: rgb(0, 0, 92);
                }

                .fa-child {
                    margin-left: 20%;
                }

            .skillsName {
                line-height: 45px;

                float: left;
            
                width: auto;
                height: 45px;
                padding: 0 5px;
            
                border: 1px solid black;
            }
    
    .bottomRow {
        display: inline-block;
    }   

        .skillsDescriptionBottom {
            float: left;

            width: auto;
            margin: 0 0 50px 40px;
        }
